body{
    background-image: url(https://wallpaperaccess.com/full/414446.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    color: red;
}
hr.design{
    border-top: 05px solid white;
    
}
b{
    font-size: 30px;
    font-family: 'Pushster', cursive;
}
#recognition{
    font-family: 'Pushster', cursive;
    font-size: 40px;
    color: red;
}
.abcd{
    font-family: 'Pushster', cursive;
}
label{
    font-family: 'Pushster', cursive;
    font-size: 35px;
}
#model{
    font-family: 'Pushster', cursive;
    color: red;
  
}